<footer class="py-3 mt-5">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="/" class="nav-link px-2 text-body-primary">Home</a>
    </li>
    <li class="nav-item">
      <a
        href="https://www.linkedin.com/in/anshumansinha2001/"
        class="nav-link px-2 text-body-primary"
        >LinkedIn</a
      >
    </li>
    <li class="nav-item">
      <a
        href="https://github.com/anshumansinha2001"
        class="nav-link px-2 text-body-primary"
        >GitHub</a
      >
    </li>
    <li class="nav-item">
      <a
        href="https://anshumansinha.netlify.app/"
        class="nav-link px-2 text-body-primary"
        >Portfolio</a
      >
    </li>
  </ul>
  <p class="text-center text-body-primary">© 2024 Anshuman Sinha, Inc</p>
</footer>
